<!DOCTYPE html>
<html lang="en">
<head>

  <title> Band Researcher </title>

  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-camo.css"> <!-- Extra color options -->


</head>

<h2 class="banner w3-panel w3-camo-sandstone"> This web app allows you to track and investigate bands you like. </h2>


<body class="w3-display-container w3-padding">

  <div>

    <ul class="w3-navbar w3-light-grey w3-border">

      <li><a href = "/">Home</a></li>
      <li><a href = "{{ url_for('search_history') }}">Search History</a></li>

    </ul>

  </div>

  <div class="location form w3-container" style="width: 50%">

    <form action="{{ request.path }}" method="post">

      <p>
      <input class = "w3-input" type="text" name="artist" placeholder="band name"> <br>
      <p>
      <input type="submit" value="Submit" />

    </form>
  </div>

  <a href="{{ ticket_site }}"> Ticket Information</a>



  <h3> {{ artist_not_found }}</h3>

  <div class="Google Maps window w3-display-bottom-right w3-padding">

  <iframe src="https://www.google.com/maps/embed/v1/place?key={{ key }}&q={{ place }}+MN" allowfullscreen width="700" height="500"></iframe>

  </div>

  <!-- Photos  Check syntax plz -->

  <img src="{{ photo_url }}">


</body>
</html>
