<!DOCTYPE html>
<html lang="en">
<head>

  <title> Band Researcher </title>

  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-camo.css"> <!-- Extra color options -->


</head>

<h2 class="banner w3-panel w3-camo-sandstone"> This web app allows you to track and investigate bands you like. </h2>


<body class="w3-display-container w3-padding">

  <div>

    <ul class="w3-navbar w3-light-grey w3-border">

      <li><a href = "/">Home</a></li>
      <li><a href = "{{ url_for('search_history') }}">Search History</a></li>

    </ul>

  </div>

  <h2> Here you can see your search history save bands you like and delete those you don't </h2>

  <div>

    <form action="{{ request.path }}" method="post">

      <select name="save_band" multiple>

        {% for band in band_list %}

        <option value="{{ band.band_name }}">{{ band.band_name}}</option>

        {% endfor %}
      </select>
      <input class= "w3-check" type="checkbox" name= "save_artist">
      <label class="w3-validate"> Save Artist</label>
      <input class= "w3-check" type="checkbox" name= "delete_artist">
      <label class="w3-validate"> delete Artist</label><br>
      <p>
      <input type="submit" value="Submit" />

    </form>

  </div>


</body>
</html>
